aiofiles==24.1.0
amqp==5.3.1
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
asgiref==3.10.0
attrs==25.4.0
billiard==4.2.2
cachetools==6.2.0
celery==5.4.0
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.3
click==8.3.0
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cron_descriptor==2.0.6
cryptography==46.0.2
cssselect==1.3.0
cssutils==2.11.1
Django==5.0.14
django-auditlog==2.3.0
django-celery-beat==2.6.0
django-cors-headers==4.9.0
django-redis==5.4.0
django-timezone-field==7.1
django_celery_results==2.6.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.28.0
drf-spectacular-sidecar==2025.10.1
et_xmlfile==2.0.0
idna==3.10
inflection==0.5.1
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
kombu==5.5.4
lxml==6.0.2
minio==7.2.7
more-itertools==10.8.0
numpy==2.3.4
openpyxl==3.1.5
packaging==25.0
pandas==2.2.3
pdfminer.six==20231228
pdfplumber==0.11.0
pillow==11.3.0
premailer==3.10.0
prompt_toolkit==3.0.52
pycparser==2.23
pycryptodome==3.23.0
PyJWT==2.10.1
PyPDF2==3.0.1
pypdfium2==4.30.0
python-crontab==3.3.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.1.1
pytz==2024.2
PyYAML==6.0.3
redis==5.3.1
referencing==0.36.2
requests==2.32.3
rpds-py==0.27.1
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.2
uritemplate==4.2.0
urllib3==2.5.0
vine==5.1.0
wcwidth==0.2.14
